button{
    width: 280px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: capitalize;
    background: var(--primary);
    outline: none;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 25px;
    font-family: monBold;
    cursor: pointer;
    padding: 30px;
    height: 90px;
}

.button button img{
    width: 30px;
}

@media screen and (max-width: 1420px){
    .button button img{
        width: 20px;
    }
    button{
        width: 187px;
        font-size: 17px;
        padding: 3px;
        height: 59px;
    }
}
