.testimo-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.section-text{
    text-align: center;
    font-size: 25px;
    color: var(--small-text);
    font-family: monSemi;
}