.about-banner{
    position: absolute;
    left: 0;
    z-index: -1;
}

@media screen and (max-width:1410px){
    .about-banner img{
        width: 20vw;
    }
}

@media screen and (max-width:760px){
    .about-banner img{
        display: none;
    }
}
