.home{
    border: 2px solid red;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.home-heading{
    font-size: 60px;
    font-family: monBold;
    color: var(--main-text);
}

.home-text{
    font-size: 25px;
    font-family: monSemi;
    color: var(--small-text);
    width: 80%;
}

.right{
    flex: 1;
    position: relative;
}

.right img{
    width: 120%;
}