.navbar{
    border: 2px dotted red;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.logo-text{
    font-size: 45px;
}

.nav-menu{
    width: 60%;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    border: 2px solid blue;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul li{
    font-size: 21px;
}
.nav-menu ul li button{
    background: #fff;
    border: none;
    border: 2px solid black;
    padding: 20px;
    border-radius: 72px;
    font-size: 21px;
    width: 200px;
}