.navbar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}

.logo-text{
    font-size: 45px;
    font-family: reemMedium;
    color: var(--primary);
    cursor: pointer;
}

.nav-menu{
    width: 55%;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.nav-menu ul li{
    font-size: 21px;
    font-family: monBold;
    color: var(--nav-text);
    cursor: pointer;
}

.nav-menu ul li button{
    background: #fff;
    border: none;
    padding: 20px;
    border-radius: 72px;
    font-size: 21px;
    width: 200px;
    color: var(--nav-text);
    font-family: monBold;
    text-transform: capitalize;
    cursor: pointer;
}

.menu-icon{
    display: none;
}

.mobile-popup{
    display: none;
}

@media screen and (max-width: 1420px){
    .nav-menu{
        width: 70%;
    }

    .logo-text{
        font-size: 30px;
    }

    .nav-menu ul li{
        font-size: 14px;
    }

    .nav-menu ul li img{
        width: 30px;
    }
    
    .nav-menu ul li button{
        font-size: 14px;
        width: 160px;
        padding: 15px;
    }
}

@media screen and (max-width: 768px){
    .nav-menu{
        display: none;
    }

    .menu-icon{
        display: flex;
    }
    
    .menu-icon img{
        width: 30px;
    }
    .mobile-popup{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: var(--background);
        z-index: 3;
    }
    .mobile-top{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-right: 30px;
    }
    .mobile-top img:first-child{
        width: 60vw;
    }
    .mobile-top img:last-child{
        width: 20px;
    }
}