.footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    margin-top: 80px;
    margin-bottom: 50px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foodie-name{
    font-family: reemMedium;
    font-size: 30px;
    color: var(--footer-text);
}

.social-media{
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-right{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: flex-start;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer-link{
    font-family: monBold;
    font-size: 20px;
    color: var(--main-text);
    text-transform: capitalize;
}

@media screen and (max-width: 1410px){
    .foodie-name{
        font-size: 20px;
    }
    .social-media{
        gap: 18px;
    }
    .social-media img{
        width: 30px;
    }
    .footer-link{
        font-size: 13px;
    }

}