.work-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.work-section .top{
    gap: 50px;
}

.section-header{
    text-transform: capitalize;
}

.work-section .section-text{
    font-size: 25px;
    color: var(--small-text);
    font-family: monSemi;
    text-align: center;
}

.bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:1410px){
    .work-section .section-text{
        font-size: 17px;
    }
}

@media screen and (max-width:1410px){
    .bottom{
        flex-direction: column;
        gap: 20px;
    }
}