.about-section{
    width: 100%;
    display: flex;
    gap: 70px;
}

.left{
    flex: 1;
    position: relative;
}

.left img{
    width: 110%;
    position: absolute;
    left: -16%;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.section-heading{
    font-family: monBold;
    text-transform: capitalize;
    color: var(--primary);
    font-size: 25px;
}

.section-header{
    font-size: 60px;
    font-family: monBold;
    color: var(--main-text);
    width: 90%;
}

.about-section .section-text{
    font-size: 25px;
    color: var(--small-text);
    font-family: monSemi;
    text-align: left;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 50px;
}

.play{
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-text{
    display: flex;
    width: 200%;
    font-size: 25px;
    color: var(--minor-text);
    font-family: monSemi;
    text-transform: capitalize;
}

@media screen and (max-width:1410px){
    .section-heading{
        font-size: 17px;
    }
    
    .section-header{
        font-size: 40px; 
    }

    .about-section .section-text{
        font-size: 17px;
    }

    .play-text{
        font-size: 14px;
    }

    .play{
        gap: 5px;
    }

    .play img{
        width: 60px;
    }

    .buttons{
        gap: 20px;
    }
}

@media screen and (max-width:760px){
    .about-section{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .left img{
        width: 110%;
        position:relative;
        left: 0;
    }

    .right{
        text-align: center;
        align-items: center;
    }

    .about-section .section-text{
        text-align: center;
    }
}