.testimo-card{
    width: 54vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: var(--white);
    border-radius: 30px;
    padding: 10px;
}

.content-text{
    font-family: monSemi;
    font-size: 25px;
    color: var(--minor-text);
    width: 70%;
}

.name{
    font-family: monSemi;
    font-size: 30px;
    color: var(--name-text);
    text-transform: capitalize;
}

@media screen and (max-width: 1410px){
    .content-text{
        font-size: 17px;
    }
    .rating{
        width: 30px;
    }
    .name{
        font-size: 20px;
    }
    .testimo-card{
        gap: 20px;
    }
}