@font-face {
  font-family: monBold;
  src: url(../src/Assets/Montserrat-Bold.ttf);
}
@font-face {
  font-family: monSemi;
  src: url(../src/Assets/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: monMedium;
  src: url(../src/Assets/Montserrat-Medium.ttf);
}
@font-face {
  font-family: reemBold;
  src: url(../src/Assets/ReemKufi-Bold.ttf);
}
@font-face {
  font-family: reemMedium;
  src: url(../src/Assets/ReemKufi-Medium.ttf);
}

:root{
  --primary: #FE9E0D;
  --nav-text: #373737;
  --main-text: #4C4C4C;
  --small-text: #828282;
  --minor-text: #515151;
  --name-text: #1C1C1C;
  --input-text: #8D8D8D;
  --footer-text: #303030;
  --background: #F6F6F6;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  /* overflow: hidden; */
  background-color: var(--background);
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


a{
  text-decoration: none;
  color: black;
}
